name: Distribution

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14 LTS
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
      # yarn2 run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

    - uses: actions/cache@v2
      id: yarn-cache
      with:
        path: |
          ${{ steps.yarn-cache-dir-path.outputs.dir }}
          **/node_modules
          !cache/
        key: ${{ runner.os }}-yarnv1-dist-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarnv1-dist-

    - name: Installing dependencies
      run: yarn install --frozen-lockfile

    - name: yarn build
      run: yarn build

    - name: Commit and push if changed
      if: success()
      run: |-
        git config --global user.email 'bot@github.action'
        git config --global user.name 'github action'
        git commit -am 'Updated dist files' || exit 0
        git push
